h1,
h2 {
    background-color: orange;
    color: black;
}

h1 {
    font-size: 32px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

.recipes-list {
    font-size: 24px;
    background-color: orange;
    color: black;
}

img {
    width: 400px;
    height: auto;
    display: block;
    margin: auto;
}